server:
  port: ${PORT:8081}

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: auth_user
    password: auth_pass
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  r2dbc:
    url: r2dbc:postgresql://localhost:5433/authdb
    username: auth_user
    password: auth_pass
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9093}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    properties:
      schema.registry.url: ${SCHEMA_REGISTRY_URL:http://localhost:8087}
      specific.avro.reader: true

jwt:
  secret: ${JWT_SECRET:yourSuperSecretKeyWithAtLeast32CharactersForHS512}
  expiration-hours: 2
  refresh-expiration-days: 7

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.auth: DEBUG