services:
  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    ports:
      - "8081:8081"
    environment:
      - PORT=8081

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    ports:
      - "8086:8086"
    environment:
      - PORT=8086

  product-service:
    build:
      context: .
      dockerfile: product-service/Dockerfile
    ports:
      - "8085:8085"
    environment:
      - PORT=8085

  inventory-service:
    build:
      context: .
      dockerfile: inventory-service/Dockerfile
    ports:
      - "8082:8082"
    environment:
      - PORT=8082

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "8084:8084"
    environment:
      - PORT=8084

  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    ports:
      - "8083:8083"
    environment:
      - PORT=8083