server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  codec:
    max-in-memory-size: 16MB

app:
  services:
    auth-url: http://localhost:8081
    inventory-grpc-host: localhost
    inventory-grpc-port: 8082
    product-grpc-host: localhost
    product-grpc-port: 8085

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.gateway: DEBUG