apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-product-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8085
      protocol: TCP
      name: http
  selector:
    app: product-service