server:
  port: ${PORT:8085}

spring:
  application:
    name: product-service

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.gateway: DEBUG
    org.springframework: INFO