apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-user-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8086
      protocol: TCP
      name: http
  selector:
    app: user-service