apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-notification-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8083
      protocol: TCP
      name: http
  selector:
    app: notification-service